[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "nodeunit"]
	path = nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "jsdom"]
	path = jsdom
	url = https://github.com/tmpvar/jsdom.git
