[submodule "deps/jquery"]
	path = deps/jquery
	url = https://github.com/jquery/jquery.git
[submodule "deps/nodeunit"]
	path = deps/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "deps/jsdom"]
	path = deps/jsdom
	url = https://github.com/tmpvar/jsdom.git
